@import url('https://fonts.googleapis.com/css?family=EB+Garamond:medium,mediumitalic,extra-bold,extra-bolditalic');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

/* Base styling */
body { 
    position: relative;
}

p, a, dd {
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    line-height: 2rem;
}

hr {
    border: 1px solid #D3D3D3; 
    width: 80%;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1020;
}

details {
    display: inline-block;
}

details > p {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.35rem;
}

summary {
    outline: none;
}

summary > p {
    font-size: 1rem;
    line-height: 1.15rem;
    display: inline;
}

figcaption > p {
    color: #A0A0A0;
}

label {
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    line-height: 2rem; 
    font-weight: bold;
}

/* Global Custom Styles */
.no-widow {
    display: inline-block;
}

.error {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0.15rem;
}

#submitModal {
    padding: 0 20px;
}

.underline {
    text-decoration: underline;
}

ol li {
    font-weight: bold;
}

ol li>p {
    font-weight: normal;
}

/* *********************** Navigation ************************ */
.custom_navbarbg-blue {
    background-color: #037D9A;
}

#headerNavbar {
    padding: 0;
}

#topnavigation .nav-link {
    color: #FFF;
}

#topnavigation .active {
    background-color: #FFF;
}

#topnavigation .nav-link.active {
    font-weight: bold;
    color: black;
}

/* *********************** Home ************************ */
.home {
    background-image:url('../images/home_image01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 800px;
    width: 100%;
    margin-top: 48px;
}

.home_frame {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 55%;
    bottom: 25%;
}

.home_h1 {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 0.25rem;
    background-color: rgba(128,128,128, 0.4);
    display: inline;
    line-height: normal;
}

.home_nonfancyfont_h1 {
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    letter-spacing: 0;
    color: #FFF;
}

.home_nonfancyfont_h1_block {
    display: inline;
    font-size: 1.5rem;
}

.home_h2 {
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    font-size: 3.75rem;
    color: #FFF;
    letter-spacing: 0.5rem;
    font-weight: bold;
    background-color: rgba(128,128,128, 0.7);
    display: inline;
    line-height: normal;
}

.home_h3 {
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    font-size: 1.75rem;
    color: #FFF;
    letter-spacing: 0.15rem;
    background-color: rgba(128,128,128, 0.4);
    display: inline;
    line-height: normal;
}

/* *********************** Info ************************ */
.info {
    height: 100%;
    width: auto;
    padding: 100px 50px;
    background-color: #94DCE0;
    position: relative;
}

.info:before {
    background: linear-gradient(-45deg, #94DCE0 8px, transparent 0), linear-gradient(45deg, #94DCE0 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    top: -16px;
    left: 0px;
    width: 100%;
    height: 16px;
}

.info:after {
    background: linear-gradient(-45deg, #FFF 8px, transparent 0), linear-gradient(45deg, #FFF 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 16px;
}

.info_frame {
    width: 60%;
    padding: 40px;
    text-align: center;
    position: relative;
    top: 25%;
    bottom: 25%;
    margin: 0 auto;
}

.info_frame p {
    text-align: left;
    margin-top: 1rem;
}

.info_fancyfont {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    line-height: 3.25rem;
    text-align: center;
}

.info_weddingdate {
    font-family: 'EB Garamond', serif;
    font-size: 1.75rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
}

/* *********************** Crew ************************ */
.crew {
    height: 100%;
    width: auto;
    padding: 100px 50px;
    text-align: center;
    position: relative;
}

.crew:before {
    background: linear-gradient(-45deg, #FFF 8px, transparent 0), linear-gradient(45deg, #FFF 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    top: -16px;
    left: 0px;
    width: 100%;
    height: 16px;
}

.crew:after {
    background: linear-gradient(-45deg, #94DCE0 8px, transparent 0), linear-gradient(45deg, #94DCE0 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 16px;
}

.crew_fancyfont {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    line-height: 3.25rem;
}


.d-flex {
    width: 60%;
    margin: 0 auto;
}

.flex-item:not(:first-of-type) {
    flex: 0 0 50%;
    text-align: left;
    margin: 0;
}

.flex-item:first-of-type {
    flex: 0 0 100%;
    text-align: left;
    margin: 0;
}

.flex-item h2 {
    font-family: 'EB Garamond', serif;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: bold;
}

.flex-item:nth-of-type(even) {
    border-right-width: 2px;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    border-color: #037D9A;
}

.flex-item:nth-of-type(2) {
    padding: 3rem 1rem 1rem 1rem;
    border-right-width: 2px;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(3,125,154,0) 0%, rgba(3,125,154,1) 30%, rgba(3,125,154,1) 100%) 1 100%; 
}

.flex-item:nth-of-type(3) {
    padding: 3rem 1rem 0rem 1rem;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(3,125,154,0) 0%, rgba(3,125,154,1) 30%, rgba(3,125,154,1) 100%); 
}

.flex-item:nth-last-of-type(2) {
    padding: 1rem 1rem 3rem 1rem;
    border-right-width: 2px;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(3,125,154,1) 0%, rgba(3,125,154,1) 70%, rgba(3,125,154,0) 100%) 1 100%; 
}

.figure-img {
    width: 100%;
    height: auto;
    display: block;
}

/* *********************** Locations ************************ */
.locations {
    height: 100%;
    width: auto;
    padding: 100px 50px;
    background-color: #94DCE0;
}

.locations_frame {
    width: 60%;
    margin: 0 auto;
}

.locations_frame:nth-of-type(1) {
    padding: 40px 40px 20px 40px;
}

.locations_frame:nth-of-type(2) {
    padding: 20px 40px 40px 40px;
}

.locations_fancyfont {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    line-height: 3.25rem;
    text-align: center;
}

.locations h2 {
    font-family: 'EB Garamond', serif;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: bold;
}

.locations li p {
    margin: 0;
}

#church_map {
    width: 100%;
    height: 400px;
    display: block;
    margin: 1rem 0;
}

/* *********************** RSVP ************************ */
.rsvp {
    height: 100%;
    width: auto;
    padding: 100px 50px;
    position: relative;
}

.rsvp:before {
    background: linear-gradient(-45deg, #FFF 8px, transparent 0), linear-gradient(45deg, #FFF 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    top: -16px;
    left: 0px;
    width: 100%;
    height: 16px;
}

.rsvp:after {
    background: linear-gradient(-45deg, #94DCE0 8px, transparent 0), linear-gradient(45deg, #94DCE0 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 16px;
}

.rsvp_fancyfont {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    line-height: 3.25rem;
    text-align: center;
}

.rsvp_frame {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
}

.nav-tabs .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.tab-content {
    padding: 1rem;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #ced4da;
    border-top: 0;
}

.nav-tabs {
    border-bottom: 1px solid #ced4da !important;
}

.nav-link {
    font-size: 1.25rem;
    line-height: 2rem;
}

.nav-link.active {
    border-color: #ced4da #ced4da #FFF !important;
    font-weight: bold;
    background-color: #94DCE0 !important;
}

#rsvpYes:active, #rsvpNo:active {
    background-color: #94DCE0;
}

#rsvpYes:hover, #rsvpNo:hover, #inputSubmitYes:hover, #inputSubmitNo:hover, #buttonClose:hover {
    background-color: #94DCE0;
    color: #000;
    font-weight: bold;
}

#inputSubmitYes, #inputSubmitNo, #buttonClose {
    border-color: #ced4da;
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    line-height: 2rem; 
    font-weight: bold;
}

.nav-link {
    color: #037D9A;
}

.rsvp_h2 {
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    line-height: 2rem; 
    font-weight: bold;
    display: inline;
}

.rsvp li p {
    margin: 0;
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.smalltext {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

#submitMessage p {
    margin: 0.5em 0;
}

/* *********************** Footer ************************ */
.footer {
    height: 200px;
    width: auto;
    padding: 85px 50px;
    background-color: #94DCE0;
}

#weddingdatecountdown {
    font-style: italic;
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

/* ********************** Redirect *********************** */
.redirect {
    background-color: #94DCE0;
    width: 100%;
    height: 100vh;
}

.redirect_frame {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 25%;
    bottom: 25%;
}

@media only screen and (max-width: 992px) {
    /* *********************** Navigation ************************ */
    #headerNavbar > .navbar-toggler {
        margin: .25rem;
    } 
    
    /* *********************** Home ************************ */

    /* *********************** Info ************************ */
    .info_frame {
        width: 70%;
    }

    /* *********************** Crew ************************ */
    .d-flex {
        width: 70%;
    }

    /* *********************** Locations ************************ */
    .locations_frame {
        width: 70%;
    }

    /* *********************** RSVP ************************ */
    .rsvp_frame {
        width: 70%;
    }
}

/* Custom */
@media only screen and (max-width: 900px) {
    
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 599px) {
    /* *********************** Home ************************ */
    .home_frame {
        top: 30%;
        padding: 10px;
    }

    .home_nonfancyfont_h1_block {
        display: block;
    }

    .home_nonfancyfont_h1{
        display: inline;
        background-color: rgba(128,128,128, 0.4);
    }

    .home_h2 {
        font-size: 2.75rem;
    }

    /* *********************** Info ************************ */
    .info_frame {
        width: 100%;
        padding: 1rem;
    }

    /* *********************** Crew ************************ */
    .d-flex {
        width: 100%;
    }

    .flex-item:not(:first-of-type) {
        flex: 0 0 100%;
        margin: 0.5rem 0;
    }

    .flex-item:first-of-type {
        margin: 0.5rem 0;
    }

    .flex-item:nth-of-type(even) {
        border-top-width: 2px;
        border-right-width: 0; 
    }

    .flex-item:nth-of-type(2) {
        border-top-width: 2px;
        border-right-width: 0;
        border-style: solid;
        border-color: #037D9A;
        border-image: none; 
    }
    
    .flex-item:nth-of-type(3) {
        border: 0;
        padding: 1rem;
    }

    .flex-item:nth-last-of-type(2) {
        border-top-width: 2px;
        border-right-width: 0;
        border-style: solid;
        border-color: #037D9A;
        border-image: none;
    }

    /* *********************** Locations ************************ */
    .locations_frame {
        width: 100%;
    }

    .locations_frame:nth-of-type(n) {
        padding: 1rem;
    }

     /* *********************** RSVP ************************ */
     .rsvp_frame {
        width: 100%;
        padding: 1rem;
    }

}